.App {
  text-align: center;
}

.App-logo {
  border-radius: 25px;
  height: 20vmin;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: black;
  font-family: Tahoma;
}

.App-link {
  color: #61dafb;
}

.name {
  font-family: monospace;
  font-size: 4vmin;
  color: black;
  padding-bottom: 0px;
  margin-block-end: 0em;
}

.title {
  font-family: monospace;
  font-size: 3vmin;
  color: darkgrey;
  padding-top: 0px;
  margin-block-start: 0em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
